<section class="main-section academy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 page-header"><b>BISA</b> SKATING ACADEMY</div>
          <div class="col-12 wlc-text-academy mb-5">
            <p>“Experience and Skills are priceless”</p><br />
            <p>BISA SKATING ACADEMY aims to develop the best athletes by providing the best coaching
               team and facilities to support you. Our certified coaches are ready to lead you from
               basic skating skills to be stars on the ice. Together, we function athlete training
               program to bring out the best of the skaters.”
            </p><br />
            <p class="reg-fee">
              Registration Fee: <span class="rf-btn btn-green">IDR 180,000</span>
            </p>
          </div>
          <div class="col-12 prc-tbl tab-div mb-5">
            <div class="row tab-div-row">
              <div class="col-4 top-left" style="background-color: #D73895;color:#fff;">&nbsp;</div>
              <div class="col-8 top-right t-ctr" style="background-color: #0F75BD;color:#fff;">
                BASIC LEVEL (ISI PRE ALPHA - DELTA)
              </div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left d-flex align-items-center" style="background-color: #FAAF40;">Type of Lessons</div>
              <div class="col-4 n-row custom-bg-blue no-padding">
                <div class="row tab-div-row no-margin">
                  <div class="col-12 n-row-merged-top t-ctr"><b>WEEKDAY</b></div>
                  <div class="col-6 n-row-merged-bottom bdr-r t-ctr" style="font-weight:500">Coach</div>
                  <div class="col-6 n-row-merged-bottom bdr-l t-ctr" style="font-weight:500">Foreign Coach</div>
                </div>
              </div>
              <div class="col-4 n-row custom-bg-blue no-padding">
                <div class="row tab-div-row no-margin">
                  <div class="col-12 n-row-merged-top t-ctr" style="border-right: 3px solid #188b7e;"><b>WEEKEND</b></div>
                  <div class="col-6 n-row-merged-bottom bdr-r t-ctr" style="font-weight:500;">Coach</div>
                  <div class="col-6 n-row-merged-bottom bdr-l t-ctr" style="font-weight:500;border-right: 3px solid #188b7e;">Foreign Coach</div>
                </div>
              </div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left" style="background-color:#CCA249;color:#fff;">
                <b>Group</b> 4-10 Students, 5 x 30 Minutes lessons
              </div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 220,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 420,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 270,000</div>
              <div class="col-2 center-right custom-bg-wh t-ctr">IDR 470,000</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left" style="background-color:#AB7B2B;color:#fff;">
                <b>Semi Private</b> 2-3 Students, 5 x 30 Minutes lessons
                </div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 400,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 600,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 450,000</div>
              <div class="col-2 center-right custom-bg-wh t-ctr">IDR 650,000</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 bottom-left" style="background-color:#764D1E;color:#fff;">
                <b>Private</b> 1 Student, 5 x 30 Minutes lessons
              </div>
              <div class="col-2 bottom-center custom-bg-wh t-ctr">IDR 700,000</div>
              <div class="col-2 bottom-center custom-bg-wh t-ctr">IDR 900,000</div>
              <div class="col-2 bottom-center custom-bg-wh t-ctr">IDR 750,000</div>
              <div class="col-2 bottom-right custom-bg-wh t-ctr">IDR 950,000</div>
            </div>
          </div>
          <div class="col-12 prc-tbl tab-div mb-5">
            <div class="row tab-div-row">
              <div class="col-4 top-left" style="background-color: #04A9D3;color:#fff;">&nbsp;</div>
              <div class="col-8 top-right t-ctr" style="background-color: #A22062;color:#fff;">
                ADVANCE LEVEL (ISI FREESTYLE 1-10)
              </div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left d-flex align-items-center" style="background-color: #FAAF40;">Type of Lessons</div>
              <div class="col-4 n-row custom-bg-org no-padding">
                <div class="row tab-div-row no-margin">
                  <div class="col-12 n-row-merged-top t-ctr"><b>WEEKDAY</b></div>
                  <div class="col-6 n-row-merged-bottom bdr-r t-ctr" style="font-weight:500">Coach</div>
                  <div class="col-6 n-row-merged-bottom bdr-l t-ctr" style="font-weight:500">Foreign Coach</div>
                </div>
              </div>
              <div class="col-4 n-row custom-bg-org no-padding">
                <div class="row tab-div-row no-margin">
                  <div class="col-12 n-row-merged-top t-ctr" style="border-right: 3px solid #188b7e;"><b>WEEKEND</b></div>
                  <div class="col-6 n-row-merged-bottom bdr-r t-ctr" style="font-weight:500;">Coach</div>
                  <div class="col-6 n-row-merged-bottom bdr-l t-ctr" style="font-weight:500;border-right: 3px solid #188b7e;">Foreign Coach</div>
                </div>
              </div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left" style="background-color:#CCA249;color:#fff;">
                <b>Group</b> 4-10 Students, 5 x 30 Minutes lessons
              </div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 270,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 470,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 320,000</div>
              <div class="col-2 center-right custom-bg-wh t-ctr">IDR 520,000</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left" style="background-color:#AB7B2B;color:#fff;">
                <b>Semi Private</b> 2-3 Students, 5 x 30 Minutes lessons
                </div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 450,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 650,000</div>
              <div class="col-2 n-row custom-bg-wh t-ctr">IDR 500,000</div>
              <div class="col-2 center-right custom-bg-wh t-ctr">IDR 700,000</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 bottom-left" style="background-color:#764D1E;color:#fff;">
                <b>Private</b> 1 Student, 5 x 30 Minutes lessons
              </div>
              <div class="col-2 bottom-center custom-bg-wh t-ctr">IDR 750,000</div>
              <div class="col-2 bottom-center custom-bg-wh t-ctr">IDR 950,000</div>
              <div class="col-2 bottom-center custom-bg-wh t-ctr">IDR 800,000</div>
              <div class="col-2 bottom-right custom-bg-wh t-ctr">IDR 1,000,000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

