<section class="main-section oca-pass-x">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 page-header">What is ICE MATE PASS ?</div>
          <div class="col-12 col-md-6 wlc-text-pub justify-content-center  d-flex align-items-center">
            <p>
              It’s a PASS for our beloved ICE MATE for the best experience and benefits with affordable prices.<br />
              check it out NOW!
            </p>
          </div>
          <div class="col-12 col-md-6">
            <%= image_tag "ice_mate.png", class: "img img-fluid", alt: "BISA - Bali Ice Skating - Member - Membership - ICE mate" %>
          </div>
          <div class="col-12 wlc-text-pub mb-1">
            <p  style="font-size: 20px;">ICE MATE PASS benefit</p>
          </div>
          <div class="col-12 col-md-8 offset-md-2 prc-tbl tab-div">
            <div class="row tab-div-row">
              <div class="col-4 top-left" style="background-color: #D73895;">Discount for : </div>
              <div class="col-4 top-center" style="background-color: #A22062;">Normal Price</div>
              <div class="col-4 top-right" style="background-color: #600A39;">ICE MATE special price</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left custom-bg-wh">WEEKDAY entry ticket</div>
              <div class="col-4 n-row custom-bg-wh">IDR 120,000/session</div>
              <div class="col-4 center-right custom-bg-wh">IDR 100,000/session</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left custom-bg-wh">WEEKEND entry ticket</div>
              <div class="col-4 n-row custom-bg-wh">IDR 140,000/session</div>
              <div class="col-4 center-right custom-bg-wh">IDR 120,000/session</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left custom-bg-wh">Public and School Holiday entry ticket</div>
              <div class="col-4 n-row custom-bg-wh">IDR 150,000/session</div>
              <div class="col-4 center-right custom-bg-wh">IDR 130,000/session</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-8 center-left custom-bg-wh">Socks/Gloves/Locker</div>
              <div class="col-4 center-right custom-bg-wh">10% off</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-8 center-left custom-bg-wh">Skating AID (Ramon/Gerald/Flipper)</div>
              <div class="col-4 center-right custom-bg-wh">5% off</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-8 bottom-left custom-bg-wh">Friend + Benefit </div>
              <div class="col-4 bottom-right custom-bg-wh">IDR 10k off / 1 friend / 1 day</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
